#grid {
    display: grid;
    grid-template-rows: auto;
    background-color: khaki;
    
}

.stockMarkets {
    /* display: inline-block;
    text-align: center; */
    background-color: bisque;
    padding: 0;
    margin: 20px;
  }